# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# macOS
.DS_Store

# Dataset
datasets/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyTorch checkpoints (optional)
*.pt

# Temporary files
*.tmp
